@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

*{
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

:root{
  --main-bg: #1e272e;
  --main-color: #0097e6;
}

html{
  font-size: 62.5%;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row{
  margin: 0; 
}

/* .main_menu{
  background-color: var(--main-bg);
} */

.navbar{
  /* color: #fff;
  background-color: var(--main-color); */
  padding: 2rem 0;
}

.navbar a{
  font-size: 1.8rem;
}

.nav-link{
  outline: none;
  border-radius: 15px;
  background: rgba(50, 126, 234, 0.25);
  /* offset: 0px 4px; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-left: 2rem; */
}

.navbar li{
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.navbar a:hover{
  color: var(--main-color);
}

.fa-clock{
  transition: all linear;
  animation: rot 2s linear infinite;
}

@keyframes rot{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

h1{
  color: blueviolet;
}
#home{
  background: linear-gradient(135.62deg, rgba(0, 255, 194, 0.25) 9.42%, rgba(10, 126, 234, 0.25) 74.58%);
}

.carousel-inner{
  mix-blend-mode: darken;
  /* height: 400px; */
}

.img_features{
  color:cornflowerblue;
  text-align: center;
}

/* main header */
.main_header_left{
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main_header_right{
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main_header_right h1{
  font-size: 4rem;
  margin: 1rem 0 4rem 0;
  text-transform: capitalize;
}

/* footer code */
footer{
  width: 100%;
  background-color: var(--main-bg);
  margin-top: auto;
}

footer p{
  margin: 0;
  text-align: center;
  color: white;
  line-height: 5rem;
  font-size: 1.4;
}

/* responsive code */
@media(max-width:768px){
   .main_header_left{
     height: auto;
     margin: 2rem 0;
   }
   .main_header_left img{
     height: 30rem;
   }
   .main_header_right{
    height: auto;
    margin-top: 1rem;
  }
  .features{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    align-items: center;
    flex-direction: column;
  }

  .meet_apps{
    display: flex;
    justify-content: flex-start;
  }
  .main_apps .apps{
    height: 5rem;
  }
 
}

/* features code */
.features{
  outline: none;
  border-radius: 10px;
  background: rgba(50, 126, 234, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
  margin: 2rem;
}

.feat_signup{
  margin: 2rem;
}

.feat_create{
  margin: 2rem;
}
.feat_choose{
  margin: 2rem;
}
.feat_teachlearn{
  margin: 2rem;
}

/* meet apps */
.apps{
  height: 10rem;
}

.meet_apps li{
  margin: 2rem;
  list-style: none;
}

.meet_apps{
  display: flex;
  flex-direction: row;  
  justify-content: center;
}

.main_apps h3{
  text-align: center;
  font-size: 3rem;
}
.main_apps p,li{
  font-size: 2rem;
}

/* sign in section */
.signup img{
  height: 3rem;
}

.signup li{
  list-style: none;
}
.signin_opt{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.signin_opt li{
  margin: 2rem;
}

.signup_as{
  font-size: 1.7rem;
  text-align: center;
}

.siginin{
  font-size: 1.7rem;
  text-align: center;
} 

.siginin a{
  color: var(--main-bg);
  font-weight: 700;
}